.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryLightColor);
    overflow-x: hidden;
  }
  
  .logo-box {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .logo-box img {
    width: 110px;
    margin: 0 20px;
  }
  .logo-box .logo-title {
    font-family: Morabaa;
    color: var(--TextLightColor);
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 1rem;
    background-color: var(--Warning-bg-color);
    font-family: IranSans;
    width: 30%;
  }
  .form-title {
    color: var(--TextLightColor);
  }
  .form-question {
    color: var(--TextLightColor);
    margin: 10px 0;
  }
  .form-question a {
    color: var(--hoverGreenColor);
    text-decoration: none;
  }
  .input-box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
  }
  .input-box input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    border: 1px solid var(--borderColor);
    background-color: var(--FerechexHoverColor);
    color: var(--SecondTextLightColor) !important;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-family: IranSans;
  }
  .input-box i {
    position: absolute;
    left: 20px;
    font-size: 22px;
    color: var(--SecondTextLightColor) !important;
    background-color: var(--FerechexHoverColor);
    padding: 10px;
  }
  input:focus {
    border: 1px solid var(--hoverBorderColor);
  }
  .input-box input::placeholder {
    color: var(--SecondTextLightColor) !important;
  }
  button {
    width: 100%;
    font-family: IranSans;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 20px;
    border: none;
    background-color: var(--hoverGreenColor);
    cursor: pointer;
    color: #fff;
  }
  button:hover {
    background-color: rgb(34 197 94);
  }
  .messageBox {
    padding: 16px;
    border-radius: 10px;
    background-color: var(--Warning-bg-color);
    font-family: IranSans;
    position: fixed;
    top: 20px;
    right: -100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }
  .messageBox p {
    color: var(--TextLightColor);
  }
  .messageBox span {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }
  .forget-Links-Box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: IranSans;
    padding: 15px 0;
  }
  .dont-forget-me label {
    color: var(--TextLightColor);
    font-family: IranSans;
  }
  .forget-Links-Box a {
    text-decoration: none;
    color: var(--SecondTextLightColor) !important;
  }
  @keyframes Error {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      justify-content: flex-start;
    }
    .form {
      width: 90%;
    }
  }
  